@font-face {
  font-family: UTM_HelvetIns;
  src: url("../assets/font/UTM_HelvetIns.ttf");
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: purple;
}

.main-theme {
  color: purple;
}

.vertical-divider {
  border-right: 2px solid purple;
}

.dotted-horizontal-divider {
  border-bottom: 2px dotted purple;
  max-width: 80%;
  margin: 0 auto;
}

.card {
  margin: 0 0.5rem;
  width: calc(100% / 3);
}

.image-wrapper {
  height: 16rem;
}

.image-wrapper img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-img-top:hover {
  transition: 0.5s ease-in-out;
  transform: translateY(-5px);
}

/* .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
    background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: red;
} */

.section-title-main {
  text-align: center;
  border: 1px solid purple;
  padding: 3px 10px;
  border-radius: 20px;
  margin: 0;
}

/* .image-container {
  color: purple;
  border: 5px solid purple;
  border-image: repeating-linear-gradient(
      45deg,
      pink,
      pink 1%,
      purple 1%,
      purple 8%
    )
    10;
}*/

.image-container {
  position: relative;
  border: 4px solid transparent;
  border-radius: 16px;
  background: linear-gradient(purple, violet);
  background-clip: padding-box;
  padding: 10px;
  box-shadow: 0 3px 6px purple, inset 0 0 6px violet;
}

.image-container::after {
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  background: linear-gradient(purple, violet);
  content: "";
  z-index: -1;
  border-radius: 16px;
}

.image-container-2 {
  border: 10px solid transparent;
  border-image: url(../assets/other/border.png) 30 round;
}

.purple-border {
  -webkit-filter: drop-shadow(3px 3px 0 purple) drop-shadow(-3px -3px 0 purple);
  filter: drop-shadow(3px 3px 0 purple) drop-shadow(-3px -3px 0 purple);
}

#overlay {
  position: fixed;
  display: block;
  width: 70%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  cursor: pointer;
}

#background-overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 998;
  background-color: rgba(87, 87, 87, 0.5);
}

.clamp-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
